
       
    <!-- Explicación breve -->
    <div class="subcontenedor">
        <!-- Encabezado -->
        <header class="mb-4 text-center">
         
         <p>
         Vamos a crear nuestro primer componente en Angular que mostrará el clásico "Hola Mundo". 
         Este es un ejemplo sencillo pero fundamental para entender cómo funciona Angular.
         </p>
         
       </header>
     
       <!-- Pasos -->
       <ol class="list-group list-group-numbered mb-4">
         <li class="list-group-item">
           Asegúrate de tener instalado Angular CLI. Puedes verificarlo usando:
           <pre class="code-block">ng --version</pre>
         </li>
         <li class="list-group-item">
           Crea un nuevo proyecto Angular con el siguiente comando:
           <pre class="code-block">ng new hola-mundo</pre>
         </li>
         <li class="list-group-item">
           Una vez creado el proyecto, navega a la carpeta y ejecuta el servidor local:
           <pre class="code-block"><code>cd hola-mundo<br>ng serve</code></pre>
           <pre class="code-block"><code>Abre tu navegador en http://localhost:4200</code></pre>.
         </li>
         <li class="list-group-item">
           Edita el archivo src/app/app.component.ts, el template y reemplaza o comenta su contenido con:
           <pre class="code-block">&lt;h1&gt;Hola Mundo con Angular!&lt;/h1&gt;</pre>
             <!-- Imagen de referencia -->
           <div class="text-center">
           <img src="assets/img/editarComponent.jpg" alt="Ejemplo Hola Mundo" class="img-fluid rounded shadow-sm">
          </div>
         </li>
         <li class="list-group-item">
           Guarda los cambios y actualiza tu navegador. Deberías ver el mensaje "¡Hola Mundo con Angular!" en pantalla.
         </li>
       </ol>
     
       <!-- Imagen de referencia -->
       <div class="text-center">
            <img src="assets/img/hola-mundo.jpg" alt="Ejemplo Hola Mundo" class="img-fluid rounded shadow-sm">
       </div>
     </div>