<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/estilos.css' | relative_url }}">
    
</head>
<body>
    <header>
        <nav>        
            <a href="{{ '/' | relative_url }}">Inicio</a>
            
            <a href="{{ '/sobremi/' | relative_url }}">Sobre mí</a>
            
        </nav>
    </header>

    <div class="header-img">
        <p>Blog de viajes</p>
        <h1>Tras los pasos del sol</h1>
        <p>Alma viajera</p>
    </div>

    <main>
        {{ content }}
    </main>

    {% include footer.html %}
</body>
</html>
