<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/estilos.css' | relative_url }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>        
            <a href="{{ '/' | relative_url }}">Inicio</a>
            
            <a href="{{ '/sobremi/' | relative_url }}">Sobre mí</a>
        </nav>
    </header>

    <div class="header-img">
        <p>Blog de viajes</p>
        <h1>Tras los pasos del sol</h1>
        <p>Alma viajera</p>
    </div>
    
    <section id="destinos-destacados-home">
        <h2>Destinos Destacados</h2>
        <div class="destinos-grid">
            <div class="destino-item">
                <img src="/assets/img/atenas-partenon.jpg" alt="Partenon en Atenas">
                <h3>Grecia - Atenas</h3>
                <p>Explora los tesoros históricos de Atenas y sus maravillosos paisajes.</p>
                <a href="/viajes/2024/11/13/grecia-atenas.html" class="boton-leer-mas">Leer más</a>
            </div>
            <div class="destino-item">
                <img src="/assets/img/florencia.jpg" alt="Florencia Ponte Vecchio">
                <h3>Italia - Florencia</h3>
                <p>Descubre el arte renacentista y la arquitectura de Florencia.</p>
                <a href="/viajes/2024/11/05/italia-florencia.html" class="boton-leer-mas">Leer más</a>
            </div>
            <div class="destino-item">
                <img src="/assets/img/aveiro.jpg" alt="Costa Nova casas de colores llamadas palheiros">
                <h3>Portugal - Aveiro</h3>
                <p>Pasea por los canales de Aveiro y disfruta de su ambiente relajado.</p>
                <a href="/viajes/2024/11/01/portugal-aveiro.html" class="boton-leer-mas">Leer más</a>
            </div>
            
        </div>
    </section>


    <main>
        <h2>Publicaciones recientes</h2>
        <ul>
            {% for post in site.posts %}
                <li>
                    <a href="{{ post.url | relative_url }}">{{ post.title }}</a> - {{ post.date | date: "%d de %B de %Y" | replace: 'November', 'Noviembre' | replace: 'January', 'Enero' | replace: 'February', 'Febrero' | replace: 'March', 'Marzo' | replace: 'April', 'Abril' | replace: 'May', 'Mayo' | replace: 'June', 'Junio' | replace: 'July', 'Julio' | replace: 'August', 'Agosto' | replace: 'September', 'Septiembre' | replace: 'October', 'Octubre' | replace: 'December', 'Diciembre' }}
                    
                </li>
            {% endfor %}
        </ul>
    </main>

    {% include footer.html %}     
        
    </footer>
</body>
</html>
